* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0ffe5);
}

.venom {
    position: absolute;
    bottom: 0;
    width: 150px;
    right: -80px;
    animation: venom-animation 1.5s infinite linear;
}

.spider {
    width: 200px;
    position: absolute;
    bottom: -20px;
}

.jump {
  animation: jump 500ms ease-out;  
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.scoreboard {
position: absolute;
top: 20px;
right: 20px;
background-color: rgba(255, 255, 255, 0.8); /* fundo branco semi-transparente */
border: 2px solid #333; /* borda preta */
border-radius: 10px; /* cantos arredondados */
padding: 10px 15px;
font-family: 'Press Start 2P', monospace;
font-size: 16px;
color: #000;
text-align: right;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* sombra para destaque */
z-index: 10;
width: fit-content;
}



@keyframes venom-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

/* animação do flyer */
@keyframes flyer-animation {
    from { right: -200px; }
    to { right: 100%; }
}

@keyframes jump {
    0%   { bottom: 0; }
    40%  { bottom: 180px; }
    50%  { bottom: 180px; }
    60%  { bottom: 180px; }
    100% { bottom: 0; }
}

@keyframes clouds-animation {
    from { right: -550px; }
    to   { right: 100%; }
}
